
.search-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.search-input {
  width: 90%;
  padding: 10px;
  // margin: 10px 24.5%;;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.search-bar{
  width: 70%;
  border: #e3e3e3 solid 1px;
  border-radius: 30px;
  background: #d3e3fd;
}
.search-btn{
  top: 107px;
  position: absolute;
  margin-left: 14px;
}
.loading-spinner {
  text-align: center;
  font-size: 18px;
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
}

.back-button {
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #0056b3;
}
.main{
      top: -50px;
    position: relative;
}
li{
  // display: flex;
  align-items: center;
  .img{
    font-size: 60px;
    padding: 20px;
  }
}
