<mat-toolbar color="primary" style="justify-content: space-between;">Rapports
    <form class="form" [formGroup]="form">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Categorie</mat-label>
            <mat-select [(ngModel)]="search.cat" matInput formControlName="cat" type="text">
                <mat-option value="year">Par Année</mat-option>
                <mat-option value="group">Par Groupe</mat-option>
            </mat-select>
        </mat-form-field>
         <mat-form-field *ngIf="search.cat == 'group'" appearance="outline" >
            <mat-label>Valeur</mat-label>
            <mat-select [(ngModel)]="search.value" matInput formControlName="value" type="text">
                <mat-option value="Inkerebutsi">Inkerebutsi</mat-option>
                <mat-option value="Abadasigana">Abadasigana</mat-option>
            </mat-select>
        </mat-form-field>
         <mat-form-field *ngIf="search.cat == 'year'" appearance="outline" class="w-full">
            <mat-label>Valeur</mat-label>
            <mat-select [(ngModel)]="search.value" matInput formControlName="value" type="text">
                <mat-option value="2025">2025</mat-option>
                <mat-option value="2026">2026</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <button  mat-raised-button class="add-btn" color="accent">
    <!-- <mat-icon>add</mat-icon>  -->
     <span style="
     font-size: larger; color: aliceblue;
    font-family: fantasy;
    font-weight: bolder;">+</span>
    Ajouter
  </button>
</mat-toolbar>

<div class="main">
    <table border="1">
        <tr class="thead">
            <td>Designation</td>
            <td>Jan</td>
            <td>Fev</td>
            <td>Mars</td>
            <td>Avril</td>
            <td>Mai</td>
            <td>Jan</td>
            <td>Jul</td>
            <td>Aout</td>
            <td>Sept</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
            <td>Total</td>
        </tr>
        <!-- <tr>
            <td class="bold">Solde</td>
            <td *ngFor="let sav of savrep">{{sold}}</td>
        </tr> -->
        <tr>
            <td class="bold">Epargnes</td>
            <td *ngFor="let sav of savrep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{sav}}</td>
        </tr>
        <tr>
            <td class="bold">Remboursements</td>
            <td *ngFor="let ref of refrep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{ref}}</td>
        </tr>
        <tr>
            <td class="bold">Interets</td>
            <td *ngFor="let fine of finerep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{fine}}</td>
        </tr>
        <tr>
            <td class="bold">Fond d'urgence</td>
            <td *ngFor="let emf of emfrep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{emf}}</td>         
        </tr>
        <tr>
            <td class="bold">Ammandes</td>
            <td *ngFor="let fine of finerep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{fine}}</td>
        </tr>
        <tr class="bold">
            <td class="bold" >Totale</td>
            <td *ngFor="let montot of remontot, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{montot}}</td>
            <td Class="bold" >{{savtot}}</td>
        </tr>
        <tr>
            <td rowspan="3" colspan="14"  style="background-color: rgba(0, 138, 155, 0.24); height: 20px;"></td>
        </tr>
        <tr>
        </tr> 
        <tr>
        </tr>
        <tr>
            <td class="bold">Depenses</td>
            <td *ngFor="let emex of emexrep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{emex}}</td>
        </tr>
        <tr>
            <td class="bold">Credits</td>
            <td *ngFor="let cre of crerep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{cre}}</td>
        </tr>
        <tr class="bold">
            <td>Totale</td>
            <td *ngFor="let montot of exmontot, let i = index">{{montot}}</td>
            <td>{{extot}}</td>
        </tr>
        <!-- <tr>
            <td class="bold">Solde</td>
            <td *ngFor="let fine of finerep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{fine}}</td>
        </tr> -->
    </table>
  
</div>