<mat-toolbar color="primary" style="justify-content: space-between;">Rapports
  

    <button mat-raised-button class="add-btn" color="accent">
    <!-- <mat-icon>add</mat-icon>  -->
     <span style="
     font-size: larger; color: aliceblue;
    font-family: fantasy;
    font-weight: bolder;">+</span>
    Ajouter
  </button>
</mat-toolbar>

<div class="main">
    <table border="1">
        <tr class="thead">
            <td>Designation</td>
            <td>Jan</td>
            <td>Fev</td>
            <td>Mars</td>
            <td>Avril</td>
            <td>Mai</td>
            <td>Jan</td>
            <td>Jul</td>
            <td>Aout</td>
            <td>Sept</td>
            <td>Oct</td>
            <td>Nov</td>
            <td>Dec</td>
            <td>Total</td>
        </tr>
        <!-- <tr>
            <td class="bold">Solde</td>
            <td *ngFor="let sav of savrep">{{sold}}</td>
        </tr> -->
        <tr>
            <td class="bold">Epargnes</td>
            <td *ngFor="let sav of savrep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{sav}}</td>
        </tr>
        <tr>
            <td class="bold">Remboursements</td>
            <td *ngFor="let ref of refrep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{ref}}</td>
        </tr>
        <tr>
            <td class="bold">Interets</td>
            <td *ngFor="let fine of finerep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{fine}}</td>
        </tr>
        <tr>
            <td class="bold">Fond d'urgence</td>
            <td *ngFor="let emf of emfrep, let i = index" [ngClass]="i === 12 ? 'bold' : 'simple'">{{emf}}</td>         
        </tr>
        <tr>
            <td class="bold">Ammandes</td>
            <td *ngFor="let fine of finerep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{fine}}</td>
        </tr>
        <tr>
            <td class="bold" colspan="13">Totale</td>
            <td Class="bold" >{{savtot}}</td>
        </tr>
        <tr>
            <td rowspan="3" colspan="14" style="background-color: rgba(0, 138, 155, 0.24); height: 20px;"></td>
        </tr>
        <tr>
        </tr> 
        <tr>
        </tr>
        <tr>
            <td class="bold">Depenses</td>
            <td *ngFor="let emex of emexrep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{emex}}</td>
        </tr>
        <tr>
            <td class="bold">Credits</td>
            <td *ngFor="let cre of crerep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{cre}}</td>
        </tr>
        <tr>
            <td class="bold" colspan="13">Totale</td>
            <td Class="bold">{{extot}}</td>
        </tr>
        <!-- <tr>
            <td class="bold">Solde</td>
            <td *ngFor="let fine of finerep, let i = index"  [ngClass]="i === 12 ? 'bold' : 'simple'">{{fine}}</td>
        </tr> -->
    </table>
  
</div>