.dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
}

.stats-grid mat-card {
  text-align: center;
  padding: 16px;
  box-shadow: black 2px 2px 20px 0px;
}

.stats-grid mat-icon {
  // font-size: 36px;
  color: #00488f;
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.activity {
  padding: 16px;
}

.all{
  background: #008a9b;
  color: #000000;
      font-size: large;
    font-weight: 500;
    
}
.actif{
  background: seagreen;
  color: aliceblue;
      font-size: large;
    font-weight: 500;
}
.archive{
  background: #c79d39;
  color: #000000;
      font-size: large;
    font-weight: 500;
}
.user{
  background: #93000a;
  color: aliceblue;
      font-size: large;
    font-weight: 500;
}
.chart{
  box-shadow: #000000 3px 3px 20px -2px;
  text-align: center;
}
.icon{
  top: 20px;
  position: absolute;
  font-size: 30px;
}
