
.add-btn{
    background: #1976d2;
    color: white;
}
.edit-btn{
    background: #1976d2;
}
.more-btn{
    background: #1976d2;
}
.delete-btn{
    background: #1976d2;
}
.save-btn{
    background: #1976d2;
}
.close-btn{
    background: #1976d2;
}