// .w-full {
//   width: 100%;
// }

// .w-full-width-table {
//   width: 100%;
//   margin-top: 20px;
// }
.container{
    padding: 20px;
    text-align: center;
}

mat-form-field{
    margin: 10px;
}

.add-btn{
  background-color: #008a9b;
  color: white;
}
.close-btn{
  background-color: #9b2700;
  color: white;
  margin: 20px;
}