table { width: 100%; margin-top: 20px; 
     th{background: #1976d224;
     } 
     td { padding: 10px; 
     }
}

.add-btn{
  background-color: #008a9b;
  color: white;
}
.folder{
  display: grid;
  // width: 50px;
  height: 50px;
  margin-top: 20px;
  // top: 200px;
  // position: absolute;
}
.folder-icon{
  font-size: 70px;
}
.folder-box{
  background: #e3e2e6;
    padding: 20px;
    height: 500px;
    display: flex;
    // justify-content: space-between;
    label{
      text-align: center;
    }
}
.view{
  right: 180px;
  position: absolute;
  cursor: pointer;
}