    <mat-card class="max-w-xl mx-auto mt-8 p-6 container">
      <div class="flex justify-end gap-2 mt-6" align="end">
        <button mat-button (click)="dialogRef.close()">
            ❌
        </button>
      </div>
      <h2 class="text-2xl font-bold mb-4" style="top: 40px; position: absolute;">Détails du document
      </h2>

      <div class="space-y-2">
        <p><strong>ID :</strong> {{ data.item?.id }}</p>
        <p><strong>Name :</strong> {{ data.item?.name }}</p>
        <p><strong>Email :</strong> {{ data.item?.email }}</p>
        <p><strong>Role :</strong> {{ data.item?.role }}</p>
        <p><strong>Status :</strong> {{ data.item?.status }}</p>
      </div>

    </mat-card>
