table { width: 100%; margin-top: 20px; 
     th{background: #1976d224;
     } 
     td { padding: 10px; 
     }
}

.add-btn{
  background-color: #008a9b;
  color: white;
}

.Active{
  // background-color: #008a9b;
  color: green;
}
.Inactive{
  // background-color: #9b2700;
  color: #9b2700;
}