// .container{
//     padding: 20px;
//     text-align: center;
// }

// mat-form-field{
//     margin: 10px;
// }

.w-full {
  width: 100%;
}

.w-full-width-table {
  width: 100%;
  margin-top: 20px;
}
.container{
    padding: 50px;
}